
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
body{
    direction: rtl;
    font-family: tahoma;
}
#main{
    width: 1000px;
    background-color: #e9e9e9;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
}
#main #register{
    text-align: center;
}
#main #register input{
    margin:3px;
    padding: 5px;
    width: 400px;
}
#main #register input[type=submit]{
    width:400px;
}
#main h1{
    text-align: center;
}
.nav{
    text-align: center;
}
#main .nav ul li{
display: inline-block;
    margin-left:  20px;
    text-align: center;
}
a{
    text-decoration: none;
}
.admin-main{
    margin: auto 400px;
}
.admin-main input,.admin-main textarea{
    width: 300px;
    padding: 10px 5px;
    margin-bottom: 10px;
    resize: none;
    font-family: tahome;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bolder;
}
.admin-main input[type=submit]{
    border: none;
    background-color:green;
    color: white;
}
.admin-main input[type=submit]:hover{
    border: none;
    cursor: pointer;
    background-color:darkgreen;
}
.admin-main input[type=text],.admin-main textarea{
    border:1px solid #ccc;

}
.admin-main input[type=text]:focus,.admin-main textarea:focus{
    border:1px solid black;
    outline: none;

}
.admin-table table {
    border-collapse: collapse;
    width: 100%;
}

.admin-table th, .admin-table td {
    text-align: center;
    padding: 8px;
}

.admin-table tr:nth-child(even){background-color: #f2f2f2}
.admin-table tr:nth-child(odd){background-color: #abe9ca}


.admin-table th {
    background-color: #4CAF50;
    color: white;
}
.container{
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    min-height: 200%;
}
.container .header{
    text-align: center;
    background-color:#f0f0f0;

}
.container .header h1{
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
}
.container .header h2{
    font-size: 13px;
    padding: 10px;
    border-radius: 3px;
}
.container .nav ul li{
    display: inline-block;
    margin-left: 15px;
}
.container .nav ul li a{
    padding: 5px;
    color: black;
}
.container .nav ul li a:hover{
    background-color: #abe9ca;
    color: white;
    overflow: hidden;
}
.container .content{
    background-color:#f0f0f0;
    padding: 10px;
    width: 70%;
    float: right;
}
.container .sidebar{
    background-color:#f0f0f0;
    padding: 10px;
    width: 29%;
    float: left;
    border: 1px solid #ccc;
}
.container .footer{
    text-align: center;
    background-color:black;
    padding: 5px;
color: white;
font-size: 13px;
position: fixed;
bottom: 0;
right: 0;
width: 100%;
height: 30px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.content .product-item{
    display: inline-block;
    width: 45%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
    background-color: #fff;
}
.content .product-item .product-image img{
    width: 100%;
    height: 160px;
}

.product-name{
    font-size: 19px;
}
.product-price{
    margin-top: 10px;
    font-size: 13px;
}
.product-desc{
    float: left;
    font-size: 13px;
}
.product-desc a{
    color: #aaa;
}
.product-desc a:hover{
    color: black;
    cursor: pointer;
}
.product-name a, .sidebar-content ul li a{
    color:#104c66;
}
.product-name a:hover,  .sidebar-content ul li a:hover{
    color: #000;
}

.comment input[type=text],.comment textarea{
    border:1px solid #ccc;
    padding: 10px;
    margin: 5px;

}
.comment input[type=text]:focus,.comment textarea:focus{
    border:1px solid black;
    outline: none;
    padding: 10px;
}

.comment input[type=submit]{
    border: none;
    background-color:green;
    color: white;
    padding: 10px;
}
.comment input[type=submit]:hover{
    border: none;
    cursor: pointer;
    background-color:darkgreen;
}
.btns{
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(57, 160, 49);
}
.btns a{
    color: aliceblue;
    font-family: tahoma;
    font-weight: 300;
}